---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"

const paginas=[
    {
        title: "Semillas",
        description: "Encuentra semillas de calidad para tus cultivos: lechuga, espinaca, brócoli y más.",
        link: "https://www.semillascasacobo.com/"
    },
    {
        title: "Productos Frescos",
        description: "Compra verduras recién cosechadas directamente de productores confiables.",
        link: "https://www.elbuencampo.com/"
    },
    {
        title: "Productos Congelados",
        description: "Verduras congeladas listas para usar, sin perder sus propiedades.",
        link: "https://home.lahuerta.com.mx/"
    },
    {
        title: "Herramientas para Invernaderos",
        description: "Todo lo necesario para equipar y mantener tu invernadero: estructuras, plásticos, riego, etc.",
        link: "https://www.sistemashorticolasalmeria.com/"
    }
]
---

<Layout title="Comprar - Raíz Verde">
    <Header />

    <main class="p-6 max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-green-800 mt-6 mb-15 text-center">Dónde Comprar</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            {paginas.map(pagina => (
                <a href={pagina.link} target="_blank" class="block bg-white border border-green-200 p-6 rounded-xl shadow hover:shadow-lg hover:scale-105 transition">
                    <h2 class="text-xl font-semibold text-green-700">{pagina.title}</h2>
                    <p class="mt-2">{pagina.description}</p>
                </a>
            ))}
        </div>
    </main>    
</Layout>

